.register-container {
    max-width: 400px;
    margin: 150px auto 0 auto;
    padding: 1em;
    border: 1px solid #D2691E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-container {
    position: relative;
    margin-top: 10px;
}

.password-container input {
    width: 100%;
    padding-right: 30px; /* Espaço para o ícone do olho */
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #D2691E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #B45F04;
}
